* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    height: 12vh;
    background-color: #aaaaaa;
    
}


header nav {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;

}

header nav .logo {
    font-size: 30px;
    font-weight: 700;

}

header nav ul {
    display: flex;
    gap: 12px;
}

header nav ul li {
    list-style: none;
}